@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/app/globals.css */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

  
  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    
  }
  

.bg-maroon {
  background-color: maroon;
}

.stripes-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.yellow-stripe {
  position: absolute;
  height: 100%;
  width: 15%;
  background-color: yellow;
}

.yellow-stripe-1 {
  left: 10%;
}

.yellow-stripe-2 {
  left: 42.5%;
}

.yellow-stripe-3 {
  left: 75%;
}